/*Overall main container which keeps the first and second rows in place*/
.OverallContainer {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 10;
}

/*This is the top container (row 1)*/
.FlexContainer1 {
	min-height: 25vh;

  display: flex;
  flex-wrap: wrap;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: .5%;
	padding-top: 1%;
	justify-content:space-around;
}

/*This is the bottom container (row 2)*/
.FlexContainer2 {
	min-height: 25vh;
  display: flex;
  flex-wrap: wrap;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	padding-top:.5%;
	justify-content:space-around;
}


.flex:before {
  content: '';
  display: table;
  padding-top: 70%;
}

/*this is for the individual boxes in my two rows of containers*/
.flex {
	flex: 1 0 33%;
  border: 1px solid black;
  background: #a18aab;
	max-height: 100px;
	max-width: 100px;

	color: white;
	box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*this is the change in colour for when the button is pressed*/
.flex.active{
  background: #c0c0c0
}
